* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* color */
    --color-light-blue: #b4d0e7;
    --color-dark: #000000;
    --color-blue: #0061ff;
    --color-grey: #a5a5a5;
    --color-contrast: #753f63;
    --color-white: #ffffff;
    --color-logo-green: #a2d39b;
    --color-logo-second: #61082b;
    --color-logo-third: #0093ce;
    --color-logo-light-red: #ff1c1c;
    --color-logo-red: #d5001f;
    --color-logo-blue: #0d2481;
    --color-logo-yellow: #ffd830;
    --color-jumbo: #B4D0E7;
    /* space */
    --soft-space: 20px;
    --softer-space: 10px;
    --even-softer-space: 5px;
    --med-space: 30px;
    --harder-space: 50px;
    --section--space:100px;
    /* font */
    --font-big: 3em;
}

/* general */
body {
    /* open-sans-FONT */
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
}

/* .debugger{
    border: 1px solid red;
  } */
h1 {
    font-size: 5em;
    font-weight: 900;
}
h2{
    font-size: 2.5em;
}
h3{
    font-size: 1.5em;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
    /* color: inherit; */
}
.text-col-inherit a{
    color: inherit;
}

.container-big {
    max-width: 1200px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}
.d-inline{
    display: inline-block;
}
/* background */
.background-jumbo {
    background-color: var(--color-jumbo);
}
/* color */
.color-blue{
    color: var(--color-blue);
}
/* border */
.border-top {
    border-top: 1px solid var(--color-dark);
}

.border-bot {
    border-bottom: 1px solid var(--color-dark);
}

/* font */
.font-weight-light {
    font-weight: 300;
}

.font-weight-normal {
    font-weight: 500;
}

.font-weight-hard {
    font-weight: 700;
}

.font-white {
    color: var(--color-grey);
}

.font-size-big {
    font-size: var(--font-big);
}

/* padding */
.little-padding {
    padding: var(--soft-space) var(--soft-space);
}

.little-padding-top {
    padding-top: var(--softer-space);
}
.med-padding-b{
    padding-bottom: var(--med-space);
}
.even-lit-padding-t-b{
    padding: var(--even-softer-space) 0px;
}
.lit-padding-t-b{
    padding: var(--soft-space) 0px;
}
.hard-padding-b {
    padding: var(--harder-space) 0px;
}
.hr-space{
    padding-left: var(--harder-space);
}
.harder-padding {
    padding: var(--section--space);
}

.harder-padding-top-bot {
    padding: var(--harder-space) 0px;
}

.pad-section{
    padding: var(--harder-space) 0px;    
}
/* margin */
.little-margin-top {
    margin-top: var(--soft-space);
}

.little-margin-bottom {
    margin-bottom: var(--soft-space);
}
.harder-margin-top {
    margin-top: var(--harder-space);
}

.harder-margin-bottom {
    margin-bottom: var(--harder-space);
}

.har-mar-t-b {
    margin-top: var(--harder-space);
    margin-bottom: var(--harder-space);
}

/* button */
.btn {
    background-color: var(--color-blue);
    padding: 8px 15px;
    color: var(--color-white);
    text-align: center;
}
.btn-white{
    background-color: var(--color-white);
    border: 1px solid var(--color-grey);
    color: var(--color-dark);
}
.text-underline{
    text-decoration: underline;
}
/* flex-utility */
.d-flex {
    display: flex;
}

.row-reverse {
    flex-flow: row-reverse nowrap;
}

.row-wrap {
    flex-flow: row wrap;
}

.col-flex {
    flex-flow: column nowrap;
}
.ali-self-start{
    align-self: flex-start;
}
.ali-cen {
    align-items: center;
}

.just-center {
    justify-content: center;
}

.spa-bet {
    justify-content: space-between;
}

.gap-hard {
    gap: var(--harder-space);
}

.gap-med {
    font-variant: var(--med-space);
}

.gap-soft {
    gap: var(--soft-space);
}

.gap-softer {
    gap: var(--softer-space);
}

.gap-even-softer {
    gap: var(--even-softer-space);
}

/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 28px 10px; */
    background-color: white;
    z-index: 1000;

}
header nav a{
    padding:30px 12px;
    display: block;
    text-decoration: none;
    color: var(--color-dark);
}
/* header nav ul:first-child */
.header-flex {
    display: flex;
    justify-content: space-between;
}

.header-nav-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
}

/* main */
/* jumbo */
#jumbo {
    padding-top: 150px;
    background-color: var(--color-jumbo);
}

.panel-relative {
    position: relative;
    top: 80px;
}

.panel-text-row {
    width: 35%;
}

.panel-img-row {
    width: 65%;
}

.panel-img-row img {
    width: 100%;
}

.container-panel-row {
    width: 100%;
}

/* business-plan */
.container-panel{
    width: calc( ( 100% -20px ) / 3);
}
.little-panel {
    border: 1px solid var(--color-grey);
    font-size: .9em;

}
.top-panel-border {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--color-grey);
}
.a-text-und-blue{
    text-decoration: underline;
}
.border {
    border: 1px solid var(--color-grey);
}
.border-bottom {
    border-bottom: 1px solid var(--color-grey);
}
.box-enterprise-p {
    width: 70%;
}

.line-b-p {
    width: 100px;
    
}

/* operation */
.panel-col-6 {
    width: calc((100% - 60px) / 3);
    padding: var(--med-space) 0px;
}
.panel-text-col p{
    padding: var(--med-space) 0px;
}
.panel-img-col img {
    width: 100%;
}

/* find-more */
.w-width-50 {
    width: 50%;
}

/* icon-box */
.icon-box-container>div {
    width: calc(100% / 3);
}

.icon-box>div img{
    filter: invert(100%);
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    display: flex;
    justify-content: center;
}
#hearst-icon{
    background-color: var(--color-light-blue);
}

.icon-box>div {
    width: 50%;
    height: calc(100vw / 6);
}

.under-icon-box {
    height: 250px;
}

/* faq */
.faq-row {
    padding: var(--med-space) 0px;
}

.faq-arrow-padding {
    padding-right: var(--soft-space);
}

/* footer */
footer {
    background-color: var(--color-dark);
    color: var(--color-grey);
}

.footer-top {
    padding: var(--harder-space) 0px;
}

.footer-top>ul>li:first-child {
    font-size: 1.5em;
    font-weight: 600;
    padding-bottom: 10px;
}

.footer-top::after {
    width: 50px;
    border-bottom: 1px solid var(--color-grey);
}

.footer-bot {
    padding: var(--harder-space) 0px;
}

.footer-bot::before {
    border: 1px solid white;
}